.css-1orzuox-MuiTableCell-root {
    text-align: center !important;
    color: black !important;
    font-size: large !important;
    background-color: '#dff0d8' !important;
}

.css-1dc80h3-MuiTableCell-root{
    text-align: center !important;
    color: black !important;
    font-size: large !important;
    font-weight: 500 !important;
}
