.css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input:focus{
    border-color: #4CAF50 !important;
}

.css-1qltlow-MuiTabs-indicator{
    background-color: #4CAF50 !important;
}

.css-1blp12k-MuiInputBase-root-MuiOutlinedInput-root{
    width: 400px !important;
    align-items: center !important;
}
